#title-container {
  display: inline-flex;
  align-items: center;
}

.profile-container {
  margin-left: auto;
  display: inline-flex;
  gap: 5px;

  mat-divider {
    border-right-color: var(--mat-toolbar-container-text-color);
  }
}
