#title-container {
  display: inline-flex;
  align-items: center;
}

.profile-container {
  margin-left: auto;
  display: inline-flex;
  gap: 5px;

  mat-divider {
    border-right-color: var(--mat-toolbar-container-text-color);
  }
}

.image-container {
  width: 35px;
  height: 35px;
  position: relative;
  border-radius: 50%;

  img {
    border-radius: 50%;
  }
}

.image-container:hover {
  img {
    scale: 1.1;
    cursor: pointer;
  }
}
