#title-container {
  display: inline-flex;
  align-items: center;
}

.header-container {
  margin-left: auto;
  display: inline-flex;
  gap: 3px;

  .profile-button {
    img {
      width: 30px !important;
      height: 30px !important;
      border-radius: 50%;
      margin: auto;
      inset: 0;
      position: absolute;
    }
  }
}

.sign-out-button {
  color: var(--mat-form-field-error-text-color);
}

.active {
  color: var(--mdc-outlined-text-field-focus-label-text-color);
}
