<h2 id="title" mat-dialog-title>{{ 'auth.signUp' | transloco }}</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-icon matSuffix>person</mat-icon>
      <mat-label>Username</mat-label>
      <input matInput
             formControlName="username">
      <mat-error>{{ getError('username') }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput
             [type]="hidePassword ? 'password' : 'text'"
             formControlName="password">
      <button mat-icon-button
              matSuffix
              type="button"
              id="password-visibility-toggle"
              (click)="hidePassword = !hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error>{{ getError('password') }}</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button
          [disabled]="spinner"
          (click)="signIn()">
    {{ 'auth.signIn' | transloco }}
  </button>
  <button mat-button
          [disabled]="spinner"
          (click)="signUp()">
    {{ 'auth.signUp' | transloco }}
  </button>
</mat-dialog-actions>
<app-progress-spinner *ngIf="spinner"/>
