.background-img {
  height: calc(100vh - 75px);
  display: flex;
  align-items: center;

  .qr-container {
    width: 100%;
    display: flex;
    justify-content: center;

    img {
      width: 200px;
      height: auto;
    }
  }
}
