<h2 id="title" mat-dialog-title>{{ 'changePassword.title' | transloco }}</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <button mat-icon-button
              matSuffix
              type="button"
              (click)="hideCurrentPassword = !hideCurrentPassword">
        <mat-icon>{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-label>{{ 'field.currentPassword' | transloco }}</mat-label>
      <input matInput
             [type]="hideCurrentPassword ? 'password' : 'text'"
             formControlName="currentPassword">
      <mat-error>{{ getError('currentPassword') }}</mat-error>
    </mat-form-field>
    <mat-form-field>
       <button mat-icon-button
              matSuffix
              type="button"
              (click)="hideNewPassword = !hideNewPassword">
        <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-label>{{ 'field.newPassword' | transloco }}</mat-label>
      <input matInput
             [type]="hideNewPassword ? 'password' : 'text'"
             formControlName="newPassword">
      <mat-error>{{ getError('newPassword') }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <button mat-icon-button
              matSuffix
              type="button"
              (click)="hideConfirmNewPassword = !hideConfirmNewPassword">
        <mat-icon>{{hideConfirmNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-label>{{ 'field.confirmNewPassword' | transloco }}</mat-label>
      <input matInput
             [type]="hideConfirmNewPassword ? 'password' : 'text'"
             formControlName="confirmNewPassword">
      <mat-error>{{ getError('confirmNewPassword') }}</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button
          [disabled]="spinner"
          (click)="cancel()">
    {{ 'changePassword.cancel' | transloco }}
  </button>
  <button mat-button
          [disabled]="spinner"
          (click)="submit()">
    {{ 'changePassword.submit' | transloco }}
  </button>
</mat-dialog-actions>
