<div id="container">
  <mat-card *ngIf="loaded"
            appearance="outlined"
            id="form-container">
    <mat-card-header>
      <mat-card-title>{{ 'profile.greeting' | transloco }} {{profile?.firstName}}</mat-card-title>
      <mat-card-subtitle>Profile</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form">
        <div id="avatar-container">
          <app-avatar [(file)]="image" (fileChange)="imageChange()"></app-avatar>
        </div>
        <mat-form-field>
          <mat-icon matSuffix>person_outline</mat-icon>
          <mat-label>{{ 'field.username' | transloco }}</mat-label>
          <input matInput
                 formControlName="username">
          <mat-error>{{ getError('username') }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-icon matSuffix>drive_file_rename_outline</mat-icon>
          <mat-label>{{ 'field.firstName' | transloco }}</mat-label>
          <input matInput
                 formControlName="firstName">
          <mat-error>{{ getError('firstName') }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-icon matSuffix>drive_file_rename_outline</mat-icon>
          <mat-label>{{ 'field.lastName' | transloco }}</mat-label>
          <input matInput
                 formControlName="lastName">
          <mat-error>{{ getError('lastName') }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-icon matSuffix *ngIf="isGender(Gender.MALE)">male</mat-icon>
          <mat-icon matSuffix *ngIf="isGender(Gender.FEMALE)">female</mat-icon>
          <mat-label>{{ 'field.gender' | transloco }}</mat-label>
          <mat-select formControlName="gender">
            <mat-option [value]="Gender.MALE" >{{ 'gender.male' | transloco }}</mat-option>
            <mat-option [value]="Gender.FEMALE">{{ 'gender.female' | transloco }}</mat-option>
            <mat-option [value]="Gender.OTHER">{{ 'gender.other' | transloco }}</mat-option>
          </mat-select>
          <mat-error>{{ getError('gender') }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'field.birthDate' | transloco }}</mat-label>
          <input matInput
                 [matDatepicker]="picker"
                 formControlName="birthDate">
          <mat-datepicker-toggle id="birth-date-field-button"
                                 matIconSuffix
                                 [for]="picker"/>
          <mat-datepicker #picker/>
          <mat-error>{{ getError('birthDate') }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-icon matSuffix>mail_outline</mat-icon>
          <mat-label>{{ 'field.email' | transloco }}</mat-label>
          <input matInput
                 formControlName="email">
          <mat-error>{{ getError('email') }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-icon matSuffix>local_phone</mat-icon>
          <mat-label>{{ 'field.phoneNumber' | transloco }}</mat-label>
          <ngx-mat-input-tel [enableSearch]="true"
                             [preferredCountries]="['md', 'ro']"
                             formControlName="phoneNumber"/>
          <mat-error>{{ getError('phoneNumber') }}</mat-error>
        </mat-form-field>

        <div class="preferences-container">
          <mat-card-subtitle class="section-title">
            {{ 'profile.preferences' | transloco }}
          </mat-card-subtitle>
          <div class="form-container">
            <mat-form-field>
              <mat-icon matSuffix>language</mat-icon>
              <mat-label>{{ 'field.language' | transloco }}</mat-label>
              <mat-select formControlName="language">
                <mat-option *ngFor="let language of languages"
                            [value]="language" >
                  {{ 'language.' + language | transloco }}
                </mat-option>
              </mat-select>
              <mat-error>{{ getError('language') }}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-icon matSuffix>dark_mode</mat-icon>
              <mat-label>{{ 'field.theme' | transloco }}</mat-label>
              <mat-select formControlName="theme">
                <mat-option *ngFor="let theme of themes"
                            [value]="theme" >
                  {{ 'theme.' + theme | transloco }}
                </mat-option>
              </mat-select>
              <mat-error>{{ getError('theme') }}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div class="actions-container">
        <button mat-button
                (click)="changePassword()">
          {{ 'profile.changePassword' | transloco }}
        </button>
        <div *ngIf="!edit"
             class="actions">
          <button mat-stroked-button
                  (click)="edit = true">
            {{ 'profile.edit' | transloco }}
          </button>
        </div>
        <div *ngIf="edit"
             class="actions">
          <button mat-stroked-button
                  (click)="edit = false">
            {{ 'profile.cancel' | transloco }}
          </button>
          <button mat-stroked-button
                  (click)="update()">
            {{ 'profile.save' | transloco }}
          </button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
