@use '@angular/material' as mat;
@include mat.core();

// Define the theme object.
$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));


$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($light-theme);
}

.dark {
  @include mat.all-component-colors($dark-theme);
  .mat-form-field-disabled {
    .country-selector-code {
      color: #6b6c6f !important;
      font-weight: 570 !important;
    }
  }
}

.mat-form-field-disabled {
  .country-selector-code {
    color: var(----mdc-filled-text-field-disabled-input-text-color) !important;
  }
}

.country-selector-code {
  color: var(--mdc-filled-text-field-input-text-color) !important;
  font-family: var(--mat-form-field-container-text-font) !important;
  line-height: var(--mat-form-field-container-text-line-height) !important;
  font-size: var(--mat-form-field-container-text-size) !important;
  letter-spacing: var(--mat-form-field-container-text-tracking) !important;
  font-weight: var(--mat-form-field-container-text-weight) !important;
}

.ngx-mat-input-tel-mat-menu-panel {
  border-radius: 10px;

  .mat-mdc-menu-content {
    padding-top: 0;
  }
}

.country-search {
  background: var(--mdc-filled-text-field-container-color);
  color: var(--mdc-filled-text-field-input-text-color);
  border-bottom: none !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($frontend-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($frontend-theme);
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


$error-container-color: #ba1a1a;
$error-text-color: var(--mat-app-text-color);

.error {
  .mat-mdc-snackbar-surface {
    background-color: $error-container-color !important;
    color: $error-text-color !important;

    button {
      color: $error-text-color;
    }
  }
}

.small-dialog {
  max-width: 400px !important;
}

.spinner {
  .mat-mdc-dialog-surface {
    background-color: transparent;
  }
}
