mat-dialog-actions {
  justify-content: space-between;
}

mat-form-field {
  width: 100%;
}

#gender-field .mat-mdc-select-trigger {
  visibility: hidden !important;
}

#title {
  text-align: center;
}

#birth-date-field-button {
  margin-right: 6px;
}
