mat-form-field {
  width: 100%;
}

#gender-field .mat-mdc-select-arrow-wrapper {
  visibility: hidden !important;
}

#title {
  text-align: center;
}

#birth-date-field-button {
  margin-right: 6px;
}
